<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список событий</title>
    <link rel="stylesheet" href="scss/main.css">
</head>
<body>
<header class="header">
    <div class="header-menu header__menu">
        <a href="#" class="header__logo"><img src="img/logo.png" alt="logo"></a>

        <a href="#" class="header-menu__item">События</a>
        <a href="#" class="header-menu__item">Ланч</a>
    </div>

    <div class="header-user header__user">
        <div class="header-user__name">Сергей Мавроди</div>
        <div class="header-user__avatar">
            <img src="img/avatar-mini.png" alt="">
        </div>
        <div class="header-user__submenu hidden">
            <a href="#">Профиль</a>
            <a href="#">Выйти</a>
        </div>
    </div>
</header>
<div class="page">
    <div class="event-list">
        <div class="event-list__title">Список мероприятий</div>

        <div class="event-list__list">
            <div class="event-list-item event-list__item">
                <div class="event-list-item__info-container">
                    <div class="event-list-item__photo"><img src="img/event-img.jpg" alt=""/></div>
                    <div class="event-list-item__info">
                        <a href="#" class="event-list-item__title">Хакатон DevService</a>
                        <div class="event-list-item__place">
                            <span class=event-list-item__city">Москва</span>,
                            <span class=event-list-item__date">24.08.2019</span>
                        </div>
                        <div class="event-list-item__org">Организатор: Агентства стратегических инициатив</div>
                    </div>
                </div>
                <button class="button button--green">присоедениться</button>
            </div>

            <div class="event-list-item event-list__item">
                <div class="event-list-item__info-container">
                    <div class="event-list-item__photo"><img src="img/event-img.jpg" alt=""/></div>
                    <div class="event-list-item__info">
                        <a href="#" class="event-list-item__title">Хакатон DevService</a>
                        <div class="event-list-item__place">
                            <span class=event-list-item__city">Москва</span>,
                            <span class=event-list-item__date">24.08.2019</span>
                        </div>
                        <div class="event-list-item__org">Организатор: Агентства стратегических инициатив</div>
                    </div>
                </div>
                <button class="button button--green">присоедениться</button>
            </div>
        </div>
    </div>

</div>

</body>
</html>