<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>YoungBussines Comminity</title>
    <link rel="stylesheet" href="scss/main.css">
</head>
<body>
<header class="header">
    <div class="header-menu header__menu">
        <a href="#" class="header__logo"><img src="img/logo.png" alt="logo"></a>

        <a href="#" class="header-menu__item">События</a>
        <a href="#" class="header-menu__item">Ланч</a>
    </div>

    <div class="header-user header__user">
        <div class="header-user__name">Сергей Мавроди</div>
        <div class="header-user__avatar">
            <img src="img/avatar-mini.png" alt="">
        </div>
        <div class="header-user__submenu hidden">
            <a href="#">Профиль</a>
            <a href="#">Выйти</a>
        </div>
    </div>
</header>
<div class="page">
    <div class="intro ">
        <img class="intro__img" src="img/intro-img.png" alt="">

        <div class="intro__text">
            Мы YoungBussines Comminity
            Наша цель — создать сильное предпринимательское сообщество. В первую очередь из молодых и амбициозных людей,
            которые смогут развиваться сами по себе, выстраивая отношения между собой, делясь опытом и идеями.
        </div>
        <div class="intro__buttons-container">
            <button class="button button--green-light">присоедениться</button>
            <button class="button button--green-light">авторизоваться</button>
        </div>
    </div>

    <div class="authorize disabled">
        <div class="authorize__title">Авторизация</div>
        <form action="">
            <div class="authorize__input-container authorize__input-container--login">
                <input type="text" placeholder="Логин"/>
            </div>
            <div class="authorize__input-container authorize__input-container--pass">
                <input type="password" placeholder="Пароль"/>
            </div>
            <button class="button button--green">войти</button>
        </form>
    </div>

</div>
</body>
</html>