@import "mixins";

.button, button {
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1.2px;
  background-color: rgba(226, 234, 243, 0.38);
  border: 1px solid #979ea7;
  padding: 10px 40px;
  font-weight: 300;
  transition: background-color .25s, color .25s;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);

  &--disabled {
    background-color: #f7f7f7 !important;
    cursor: auto !important;
    color: #7b7b7b !important;
  }

  &:hover {
    background-color: #d7dfe8;
    cursor: pointer;
  }

  &--green {
    background-color: $green-color;
    color: #ffffff;

    &:hover {
      background-color: $green-color-hover;
    }
  }

  &--green-light {
    &:hover {
      background-color: $green-color-light;
    }
  }

  &--red {
    background-color: $red-color;
    color: #ffffff;

    &:hover {
      background-color: $red-color-hover;
    }
  }

  &--red-light {
    &:hover {
      background-color: $red-color-light;
      //color: #fff;
    }
  }
}