@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.page {
  background: url(../img/background.png) top left;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 150px 65px 0; }

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.75);
  padding: 0 65px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
  .header__logo {
    height: 66px;
    margin-right: 50px; }
    .header__logo img {
      height: 100%;
      object-fit: contain; }

.header-user {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  padding: 0 15px;
  margin-right: -15px;
  transition: .15s; }
  .header-user:hover {
    background-color: rgba(112, 149, 194, 0.05);
    cursor: pointer; }
  .header-user__name {
    font-size: 16px;
    line-height: 50px;
    margin-right: 22px; }
  .header-user__avatar {
    height: 50px; }
    .header-user__avatar img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
  .header-user__submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translate(0, 100%);
    RIGHT: 0;
    TOP: 18PX;
    border-radius: 4px; }
    .header-user__submenu a {
      color: black;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.23);
      padding: 0 10px 5px;
      margin-bottom: 3px; }
      .header-user__submenu a:last-child {
        border-bottom: none; }

.header-menu {
  display: flex;
  align-items: center; }
  .header-menu__item {
    font-size: 20px;
    color: black;
    margin-right: 40px;
    text-decoration: none;
    height: 100%;
    align-self: center;
    display: block; }
    .header-menu__item:hover {
      background-color: rgba(112, 149, 194, 0.05); }
    .header-menu__item:last-child {
      margin-right: 0; }

@keyframes radar-rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes text {
  0% {
    opacity: .2; }
  100% {
    opacity: 1; } }
.lunch-step__buttons {
  margin-top: 30px; }
  .lunch-step__buttons button {
    font-size: 16px; }
  .lunch-step__buttons button:last-child {
    margin-left: 10px; }
.lunch-step.step-0, .lunch-step.step-1 {
  margin-top: 80px;
  text-align: center; }
  .lunch-step.step-0 button, .lunch-step.step-1 button {
    margin-top: 30px; }
  .lunch-step.step-0.step-2, .lunch-step.step-1.step-2 {
    margin-top: 60px; }
    .lunch-step.step-0.step-2 button, .lunch-step.step-1.step-2 button {
      margin-top: 30px; }
.lunch-step__introduction {
  overflow: hidden;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1.2px;
  text-align: center;
  animation: text .3s  ease-in-out; }
.lunch-step__contact {
  margin-top: 20px; }
.lunch-step__image {
  margin-top: 30px;
  margin-bottom: 30px; }
  .lunch-step__image img {
    animation: radar-rotation  2s infinite ease-in-out;
    width: 70px;
    height: 70px; }
.lunch-step__profileBg {
  margin: auto;
  width: 50%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 30px; }
.lunch-step__about {
  margin-top: 20px;
  text-align: justify;
  font-size: 13px; }
.lunch-step__profile {
  display: flex; }
  .lunch-step__profile img {
    width: 200px;
    height: 200px;
    object-fit: contain; }
.lunch-step__userInfo {
  margin-left: 30px;
  text-align: left; }
  .lunch-step__userInfo p {
    font-size: 14px;
    margin-bottom: 10px; }
  .lunch-step__userInfo p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px; }

.button, button {
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1.2px;
  background-color: rgba(226, 234, 243, 0.38);
  border: 1px solid #979ea7;
  padding: 10px 40px;
  font-weight: 300;
  transition: background-color .25s, color .25s;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
  .button--disabled, button--disabled {
    background-color: #f7f7f7 !important;
    cursor: auto !important;
    color: #7b7b7b !important; }
  .button:hover, button:hover {
    background-color: #d7dfe8;
    cursor: pointer; }
  .button--green, button--green {
    background-color: #beb868;
    color: #ffffff; }
    .button--green:hover, button--green:hover {
      background-color: #b1ab5e; }
  .button--green-light:hover, button--green-light:hover {
    background-color: #c7d9b4; }
  .button--red, button--red {
    background-color: #9e5165;
    color: #ffffff; }
    .button--red:hover, button--red:hover {
      background-color: #944b5e; }
  .button--red-light:hover, button--red-light:hover {
    background-color: #c97086; }

.event-list {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px; }
  .event-list__title {
    border-bottom: 1px solid #d7e2ee;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 30px; }

.event-list-item {
  padding: 18px 30px;
  border-bottom: 1px solid #d7e2ee;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .event-list-item__info-container {
    display: flex;
    justify-content: space-between; }
  .event-list-item__photo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
    .event-list-item__photo img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .event-list-item__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #000;
    text-decoration: none; }
    .event-list-item__title:hover {
      color: #141414; }
  .event-list-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .event-list-item button {
    height: 70px; }

.event {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .event__photo {
    width: 200px;
    height: 200px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
    .event__photo img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .event__info-container {
    display: flex;
    justify-content: space-between;
    padding: 18px 30px; }
  .event__info {
    font-size: 16px;
    max-width: 70%; }
    .event__info span {
      display: block;
      margin-bottom: 8px; }
  .event__info-description {
    font-size: 14px;
    margin-top: 15px; }
  .event__limit {
    margin-bottom: 15px; }
  .event__limit-count {
    font-weight: 600; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .intro__text {
    overflow: hidden;
    max-width: 750px;
    width: 100%;
    margin: 0 auto 30px;
    letter-spacing: 1.2px;
    text-align: center;
    animation: text .3s  ease-in-out;
    line-height: 1.4; }
  .intro__img {
    width: 155px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin-bottom: 60px; }
  .intro__buttons-container button {
    margin: 0 10px; }

.authorize {
  background-color: #ffffff;
  width: 460px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
  .authorize form {
    padding: 30px 0; }
  .authorize__title {
    text-align: center;
    border-bottom: 1px solid #d7e2ee;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 30px; }
  .authorize__input-container {
    padding: 0 30px;
    margin-bottom: 20px;
    position: relative; }
    .authorize__input-container:after {
      content: '';
      width: 22px;
      height: 100%;
      display: block;
      right: 40px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-position: center; }
    .authorize__input-container--login:after {
      background-image: url("../img/user.png"); }
    .authorize__input-container--pass:after {
      background-image: url("../img/lock.png"); }
    .authorize__input-container input {
      width: 100%;
      background-color: transparent;
      border: 1px solid #7da3d1;
      line-height: 38px;
      border-radius: 4px;
      padding: 0 10px; }

.users-list {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px; }
  .users-list__title {
    border-bottom: 1px solid #d7e2ee;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 30px; }
  .users-list__item-wrapper {
    text-decoration: none; }

.users-list-item {
  display: flex;
  padding: 10px 30px;
  border-bottom: 1px solid #d7e2ee;
  color: black;
  text-decoration: none !important; }
  .users-list-item a {
    text-decoration: none !important; }
  .users-list-item:hover {
    background-color: rgba(199, 217, 180, 0.21);
    cursor: pointer; }
  .users-list-item__name {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
    color: #000;
    text-decoration: none; }
  .users-list-item__city {
    margin-bottom: 2px; }
  .users-list-item__photo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin-right: 20px; }

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.hidden {
  opacity: 0 !important;
  visibility: hidden !important; }

.disabled {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
